In [2]:
#1
import numpy as np

a = np.arange(50, 101)
print(a)

[ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100]

In [17]:
#2
import numpy as np
a = np.repeat(1, 10)
b = np.repeat(0, 10)
c = np.repeat(6, 10)
print(a)
print(b)
print(c)

[1 1 1 1 1 1 1 1 1 1]
[0 0 0 0 0 0 0 0 0 0]
[6 6 6 6 6 6 6 6 6 6]

In [5]:
#3
import numpy as np
x =  np.arange(20, 32).reshape(3,4)
print(x)

[[20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

In [8]:
#4
import numpy as np
x =  np.diag([1,1,1]).reshape(3,3)
print(x)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [7]:
#5
import numpy as np
x = np.diag([1, 2, 3, 4, 5])
print(x)

[[1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]
 [0 0 0 0 5]]

In [19]:
#6
a = [[1, 2],  
     [4, 5],
    ];   
rows = len(a);  
cols = len(a);    
for i in range(0, rows):  
    sumRow = 0;  
    for j in range(0, cols):  
        sumRow = sumRow + a[i][j];  
    print("Sum of " + str(i+1) +" row: " + str(sumRow));  
    
for i in range(0, rows):  
    sumCol = 0;  
    for j in range(0, cols):  
        sumCol = sumCol + a[j][i];  
    print("Sum of " + str(i+1) +" column: " + str(sumCol));

Sum of 1 row: 3
Sum of 2 row: 9
Sum of 1 column: 5
Sum of 2 column: 7

In [33]:
#7
import numpy as np

#Seasons
Seasons = ["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]
Sdict = {"2010":0,"2011":1,"2012":2,"2013":3,"2014":4,"2015":5,"2016":6,"2017":7,"2018":8,"2019":9}
#Players
Players = ["LionelMessi","CristianoRonaldo","RobertLewandowski","LukaModric","SergioRamos","LuisSuarez","AndresIniesta"]
Pdict = {"LionelMessi":0,"CristianoRonaldo":1,"RobertLewandowski":2,"LukaModric":3,"SergioRamos":4,"LuisSuarez":5,"AndresIniesta":6}
#Salaries
LionelMessi_Salary = [41000000,42500000,34600000,46700000,43200000,44700000,42900000,43100000,42000000,41000000]
CristianoRonaldo_Salary = [41000000,42300000,44500000,46300000,47600000,48000000,48600000,49600000,50000000,46000000]
RobertLewandowski_Salary = [41200000,42300000,44300000,49680000,44780000,46800000,49300000,42400000,48600000,44700000]
LukaModric_Salary = [38900000,39000000,41000000,32000000,38900000,44500000,38600000,35400000,32700000,38600000]
SergioRamos_Salary = [37000000,30500000,34600000,34200000,35100000,37800000,34300000,38400000,38900000,39600000]
LuisSuarez_Salary = [34500000,38900000,38800000,39100000,40100000,41200000,39900000,42100000,45100000,44400000]
AndresIniesta_Salary =[37600000,34200000,32800000,40100000,42300000,43400000,42100000,44200000,33400000,40000000] 
#Matrix
Salary = np.array([LionelMessi_Salary, CristianoRonaldo_Salary, RobertLewandowski_Salary, LukaModric_Salary, SergioRamos_Salary, LuisSuarez_Salary, AndresIniesta_Salary])
#Goals
LionelMessi_FG = [53,73,60,41,58,41,54,45,51,24]
CristianoRonaldo_FG = [53,60,55,51,61,51,44,42,44,28]
RobertLewandowski_FG = [42,30,34,55,34,43,35,42,34,22]
LukaModric_FG = [33,45,55,40,31,32,42,46,45,22]
SergioRamos_FG = [32,38,34,52,38,36,39,40,36,20]
LuisSuarez_FG = [34,34,35,32,42,50,42,45,46,24]
AndresIniesta_FG = [23,24,34,42,40,32,46,42,44,24]
#Matrix
FieldGoals = np.array([LionelMessi_FG, CristianoRonaldo_FG, RobertLewandowski_FG, LukaModric_FG, SergioRamos_FG, LuisSuarez_FG, AndresIniesta_FG])
#Games
LionelMessi_G = [55,60,50,46,57,49,52,54,50,31]
CristianoRonaldo_G = [54,55,55,47,54,48,46,44,43,32]
RobertLewandowski_G = [40,56,52,47,56,49,46,42,41,31]
LukaModric_G = [42,53,50,47,52,47,46,49,44,30]
SergioRamos_G = [42,52,54,47,54,48,43,48,45,29]
LuisSuarez_G = [44,54,53,47,56,48,46,47,46,32]
AndresIniesta_G = [45,50,55,48,55,48,46,44,43,31]
#Matrix
Games = np.array([LionelMessi_G, CristianoRonaldo_G, RobertLewandowski_G, LukaModric_G, SergioRamos_G, LuisSuarez_G, AndresIniesta_G])              
#Salary
a = [[41000000, 42500000, 34600000, 46700000, 43200000, 44700000, 42900000, 43100000, 42000000, 41000000],
     [41000000, 42300000, 44500000, 46300000, 47600000, 48000000, 48600000, 49600000, 50000000, 46000000],
     [41200000, 42300000, 44300000, 49680000, 44780000, 46800000, 49300000, 42400000, 48600000, 44700000],
     [38900000, 39000000, 41000000, 32000000, 38900000, 44500000, 38600000, 35400000, 32700000, 38600000],
     [37000000, 30500000, 34600000, 34200000, 35100000, 37800000, 34300000, 38400000, 38900000, 39600000],
     [34500000, 38900000, 38800000, 39100000, 40100000, 41200000, 39900000, 42100000, 45100000, 44400000],
     [37600000, 34200000, 32800000, 40100000, 42300000, 43400000, 42100000, 44200000, 33400000, 40000000]
    ];
rows = len(a);  
cols = len(a);    
for i in range(0, rows):  
    sumRow = 0;  
    for j in range(0, cols):  
        sumRow = sumRow + a[i][j];  
    print("Sum of " + str(i+1) +" row: " + str(sumRow));  
    
for i in range(0, rows):  
    sumCol = 0;  
    for j in range(0, cols):  
        sumCol = sumCol + a[j][i];  
    print("Sum of " + str(i+1) +" column: " + str(sumCol));

Sum of 1 row: 295600000
Sum of 2 row: 318300000
Sum of 3 row: 318360000
Sum of 4 row: 272900000
Sum of 5 row: 243500000
Sum of 6 row: 272500000
Sum of 7 row: 272500000
Sum of 1 column: 271200000
Sum of 2 column: 269700000
Sum of 3 column: 270600000
Sum of 4 column: 288080000
Sum of 5 column: 291980000
Sum of 6 column: 306400000
Sum of 7 column: 295700000

In [37]:
#Goals
a = [[53,73,60,41,58,41,54,45,51,24],
     [53,60,55,51,61,51,44,42,44,28],
     [42,30,34,55,34,43,35,42,34,22],
     [33,45,55,40,31,32,42,46,45,22],
     [32,38,34,52,38,36,39,40,36,20],
     [34,34,35,32,42,50,42,45,46,24],
     [23,24,34,42,40,32,46,42,44,24],
    ];
rows = len(a);  
cols = len(a);    
for i in range(0, rows):  
    sumRow = 0;  
    for j in range(0, cols):  
        sumRow = sumRow + a[i][j];  
    print("Sum of " + str(i+1) +" row: " + str(sumRow));  
    
for i in range(0, rows):  
    sumCol = 0;  
    for j in range(0, cols):  
        sumCol = sumCol + a[j][i];  
    print("Sum of " + str(i+1) +" column: " + str(sumCol));

Sum of 1 row: 380
Sum of 2 row: 375
Sum of 3 row: 273
Sum of 4 row: 278
Sum of 5 row: 269
Sum of 6 row: 269
Sum of 7 row: 241
Sum of 1 column: 270
Sum of 2 column: 304
Sum of 3 column: 307
Sum of 4 column: 313
Sum of 5 column: 304
Sum of 6 column: 285
Sum of 7 column: 302

In [38]:
#Games
a = [[53,73,60,41,58,41,54,45,51,24],
    [53,60,55,51,61,51,44,42,44,28],
    [42,30,34,55,34,43,35,42,34,22],
    [33,45,55,40,31,32,42,46,45,22],
    [32,38,34,52,38,36,39,40,36,20],
    [34,34,35,32,42,50,42,45,46,24],
    [23,24,34,42,40,32,46,42,44,24],
    ];
rows = len(a);  
cols = len(a);    
for i in range(0, rows):  
    sumRow = 0;  
    for j in range(0, cols):  
        sumRow = sumRow + a[i][j];  
    print("Sum of " + str(i+1) +" row: " + str(sumRow));  
    
for i in range(0, rows):  
    sumCol = 0;  
    for j in range(0, cols):  
        sumCol = sumCol + a[j][i];  
    print("Sum of " + str(i+1) +" column: " + str(sumCol));

Sum of 1 row: 380
Sum of 2 row: 375
Sum of 3 row: 273
Sum of 4 row: 278
Sum of 5 row: 269
Sum of 6 row: 269
Sum of 7 row: 241
Sum of 1 column: 270
Sum of 2 column: 304
Sum of 3 column: 307
Sum of 4 column: 313
Sum of 5 column: 304
Sum of 6 column: 285
Sum of 7 column: 302