In [3]:
import pandas as pd
import numpy as np
name = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
name

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [4]:
#1 len()
name.str.len()
# Текстний уртыг хэмжинэ

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [5]:
#2 lower()
name.str.lower()
# Бүх үсэг жижгээр

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [7]:
#3 translate()
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))
# Үсэг солино

Hello Pam!

In [8]:
#4 islower()
name.str.islower()
# Текст бүхэлдээ жижиг үсгээр эсэхийг шалгана

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [10]:
#5 ljust()
txt = "banana"
x = txt.ljust(10, "O")
print(x)
# Текстийг заасан урттай болгоно

bananaOOOO

In [11]:
#6 upper()
name.str.upper()
# Бүх үсэг томоор

0    GRAHAM CHAPMAN
1       JOHN CLEESE
2     TERRY GILLIAM
3         ERIC IDLE
4       TERRY JONES
5     MICHAEL PALIN
dtype: object

In [12]:
#7 startswith()
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)
# Текст заасан үгээр эхэлж байгаа эсэхийг шалгана

True

In [13]:
#8 isupper()
name.str.isupper()
# Текст бүхэлдээ том үсгээр эсэхийг шалгана

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [14]:
#9 rjust()
txt = "banana"
x = txt.rjust(20, "O")
print(x)
# Заасан үгийг баруун гар талаас эхлүүлэн текстийг заасан хэмжээнд хүртэл утга нийлүүлнэ

OOOOOOOOOOOOOObanana

In [15]:
#10 find()
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)
# Заасан үг эхэлж буй индексийг тогтооно

7

In [16]:
#11 endswith()
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)
# Заасан текст тухайн төгсгөлөөр төгсөж байгаа эсэхийг шалгана

True

In [17]:
#12  isnumeric()
txt = "565543"
x = txt.isnumeric()
print(x)
# Текст бүхэлдээ тоон утгатай эсэх

True

In [18]:
#13 center()
txt = "banana"
x = txt.center(20)
print(x)
# Заасан зайнд заасан үг голд нь байрлуулах

       banana

In [20]:
#14 rfind()
txt = "Hello, welcome to my world."
x = txt.rfind("e")
print(x)
# Баруун талаас заасан үсэг хэд дэх индекс дээр байгааг шалгана

13

In [21]:
#15 get()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)
# Заасан key утгаас value утгыг олно

Mustang

In [22]:
#16 isalnum()
txt = "Company12"
x = txt.isalnum()
print(x)
# Текстэнд үсэг, тоо 2уулаа байгаа эсэх

True

In [23]:
#17 isdecimal()
s = "28212"
print(s.isdecimal())
# Текстийн бүх утга тоо эсэх

True

In [24]:
#18 zfill()
txt = "50"
x = txt.zfill(10)
print(x)
# Заасан утгыг баруун талаас нэмээд заасан хэмжээнд хүртэл нь утга нөхнө

0000000050

In [27]:
#19 index()
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
x
# Заасан утга хаана байгааг заана

2

In [28]:
#20 isalpha()
txt = "CompanyX"
x = txt.isalpha()
print(x)
# Текстэнд байгаа бүх утга үсэг эсэх

True

In [29]:
#21 split()
txt = "welcome to the jungle"
x = txt.split()
print(x)
# Бүх утгыг тусад нь авна

['welcome', 'to', 'the', 'jungle']

In [30]:
#22 strip()
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")
# Эхлэл төгсөлд буй илүү зайг хасна

of all fruits banana is my favorite

In [31]:
#23 rindex()
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)
# Заасан үг баруун талаас хэд дэх байрлалд буйг заана

12

In [32]:
#24 isdigit()
txt = "50800"
x = txt.isdigit()
print(x)
# Бүх утга тоо эсэх

True

In [33]:
#25 rsplit()
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)
# Утгуудыг бүгдийг нь тусад нь авна

['apple', 'banana', 'cherry']

In [34]:
#26 rstrip()
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")
# Зайг баруун талаас шахна

of all fruits      banana is my favorite

In [35]:
#27 capitalize()
name.str.capitalize()
# Бүх үсэг томоор

0    Graham chapman
1       John cleese
2     Terry gilliam
3         Eric idle
4       Terry jones
5     Michael palin
dtype: object

In [36]:
#28 isspace()
txt = "   "
x = txt.isspace()
print(x)
# Текст бүхэлдээ хоосон эсэхийг шалгана

True

In [37]:
#29 partition()
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)
# Сонгогдсон утгаас урагшаа болон хойшоо тасална

('I could eat ', 'bananas', ' all day')

In [38]:
#30 lstrip()
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")
# Зайг зүүн талаас шахна

of all fruits banana      is my favorite

In [39]:
#31 swapcase()
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)
# Том жижиг үсгийн хэмжээг солино

hELLO mY nAME iS peter

In [40]:
#32 istitle()
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)
# Бүх утгууд томоор эхэлж байгаа эсэхийг шалгана

True

In [41]:
#33 rpartition()
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)
# Сонгогдсон утгаас урагшаа болон хойшоо баруун талаас тасална

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')