In [2]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Dell\Documents\DBP221\ariuicca.xlsx')
df

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,"'CA-2016-152156',","'11.08.2016',","'EB-13930',","Хувь хүн',","'Баянзүрх',","'Чихэр, печенье',","'Shokolinsen 250 гр',","'3300',","'2',","'0',","'6600',"
1,"'CA-2016-152156',","'11.08.2016',","'EB-13930',","'Хувь хүн',","'Баянзүрх',","'OO ийн цаас, сальфетка',","'Хэрэглээ 00ийн цаас',","'500',","'3',","'0',","'1500',"
2,"'CA-2016-138688',",NaN,NaN,"'Байгууллага',","'Хан-Уул',","'Чихэр, печенье',","'Алимтай жигнэмэг 230 гр',","'3100',","'2',","'0',","'6200',"
3,"'US-2015-108966',",NaN,NaN,"'Хувь хүн',","'Баянзүрх',","'Хиам бууз',","'Золотой янта 500 гр',","'2800',","'5',","'0',","'14000',"
4,"'US-2015-108966',","'10.11.2015',","'JO-15550',","'Хувь хүн',","'Баянзүрх',","'Ундаа ус',","'Punch 450 мл',","'1150',","'2',","'0',","'2300',"
...,...,...,...,...,...,...,...,...,...,...,...
95,"'US-2017-109484',","'11.06.2017',","'JR-15700',","'Гишүүн',","'Хан-Уул',","'Компот варенье, хүүхдийн тэжээл',","'Hainich нухаш',","'3300',","'1',","'0.03',","'3201',"
96,"'CA-2017-161018',","'11.09.2017',","'AJ-10945',","'Гишүүн',","'Сүхбаатар',","'Самар чипс',","'Lays чипс 80 гр',","'2300',","'7',","'0.03',","'15617',"
97,"'CA-2017-157833',","'06.17.2017',","'BM-11575',","'Хувь хүн',","'Хан-Уул',","'Набор, шоколад, бохь',","'Монстров 23 гр',","'500',","'3',","'0',","'1500',"
98,"'CA-2016-149223',","'09.06.2016',","'CV-12805',","'Байгууллага',","'Чингэлтэй',","'Архи пиво',","'Арвай 0.100',","'2000',","'6',","'0',","'12000',"
99,"'CA-2016-158568',","'08.29.2016',","'DK-12835',","'Гишүүн',","'Чингэлтэй',","'Бэлэн гоймон',","'Тэйсти гоймон 110 гр',","'1800',","'7',","'0.03',","'12222',"

In [3]:
df.isnull()

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,True,True,False,False,False,False,False,False,False,False
3,False,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.fillna('хоосон')

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,"'CA-2016-152156',","'11.08.2016',","'EB-13930',","Хувь хүн',","'Баянзүрх',","'Чихэр, печенье',","'Shokolinsen 250 гр',","'3300',","'2',","'0',","'6600',"
1,"'CA-2016-152156',","'11.08.2016',","'EB-13930',","'Хувь хүн',","'Баянзүрх',","'OO ийн цаас, сальфетка',","'Хэрэглээ 00ийн цаас',","'500',","'3',","'0',","'1500',"
2,"'CA-2016-138688',",хоосон,хоосон,"'Байгууллага',","'Хан-Уул',","'Чихэр, печенье',","'Алимтай жигнэмэг 230 гр',","'3100',","'2',","'0',","'6200',"
3,"'US-2015-108966',",хоосон,хоосон,"'Хувь хүн',","'Баянзүрх',","'Хиам бууз',","'Золотой янта 500 гр',","'2800',","'5',","'0',","'14000',"
4,"'US-2015-108966',","'10.11.2015',","'JO-15550',","'Хувь хүн',","'Баянзүрх',","'Ундаа ус',","'Punch 450 мл',","'1150',","'2',","'0',","'2300',"
...,...,...,...,...,...,...,...,...,...,...,...
95,"'US-2017-109484',","'11.06.2017',","'JR-15700',","'Гишүүн',","'Хан-Уул',","'Компот варенье, хүүхдийн тэжээл',","'Hainich нухаш',","'3300',","'1',","'0.03',","'3201',"
96,"'CA-2017-161018',","'11.09.2017',","'AJ-10945',","'Гишүүн',","'Сүхбаатар',","'Самар чипс',","'Lays чипс 80 гр',","'2300',","'7',","'0.03',","'15617',"
97,"'CA-2017-157833',","'06.17.2017',","'BM-11575',","'Хувь хүн',","'Хан-Уул',","'Набор, шоколад, бохь',","'Монстров 23 гр',","'500',","'3',","'0',","'1500',"
98,"'CA-2016-149223',","'09.06.2016',","'CV-12805',","'Байгууллага',","'Чингэлтэй',","'Архи пиво',","'Арвай 0.100',","'2000',","'6',","'0',","'12000',"
99,"'CA-2016-158568',","'08.29.2016',","'DK-12835',","'Гишүүн',","'Чингэлтэй',","'Бэлэн гоймон',","'Тэйсти гоймон 110 гр',","'1800',","'7',","'0.03',","'12222',"

In [8]:
df.dropna()

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,"'CA-2016-152156',","'11.08.2016',","'EB-13930',","Хувь хүн',","'Баянзүрх',","'Чихэр, печенье',","'Shokolinsen 250 гр',","'3300',","'2',","'0',","'6600',"
1,"'CA-2016-152156',","'11.08.2016',","'EB-13930',","'Хувь хүн',","'Баянзүрх',","'OO ийн цаас, сальфетка',","'Хэрэглээ 00ийн цаас',","'500',","'3',","'0',","'1500',"
4,"'US-2015-108966',","'10.11.2015',","'JO-15550',","'Хувь хүн',","'Баянзүрх',","'Ундаа ус',","'Punch 450 мл',","'1150',","'2',","'0',","'2300',"
5,"'CA-2014-115812',","'06.09.2014',","'RH-19600',","'Хувь хүн',","'Хан-Уул',","'Жимс ногоо',","'Помидор том',","'4000',","'7',","'0',","'28000',"
6,"'CA-2014-115812',","'06.09.2014',","'RH-19600',","'Хувь хүн',","'Хан-Уул',","'Гурил будаа',","'Слава хивэг 400 гр',","'750',","'4',","'0',","'3000',"
...,...,...,...,...,...,...,...,...,...,...,...
95,"'US-2017-109484',","'11.06.2017',","'JR-15700',","'Гишүүн',","'Хан-Уул',","'Компот варенье, хүүхдийн тэжээл',","'Hainich нухаш',","'3300',","'1',","'0.03',","'3201',"
96,"'CA-2017-161018',","'11.09.2017',","'AJ-10945',","'Гишүүн',","'Сүхбаатар',","'Самар чипс',","'Lays чипс 80 гр',","'2300',","'7',","'0.03',","'15617',"
97,"'CA-2017-157833',","'06.17.2017',","'BM-11575',","'Хувь хүн',","'Хан-Уул',","'Набор, шоколад, бохь',","'Монстров 23 гр',","'500',","'3',","'0',","'1500',"
98,"'CA-2016-149223',","'09.06.2016',","'CV-12805',","'Байгууллага',","'Чингэлтэй',","'Архи пиво',","'Арвай 0.100',","'2000',","'6',","'0',","'12000',"
99,"'CA-2016-158568',","'08.29.2016',","'DK-12835',","'Гишүүн',","'Чингэлтэй',","'Бэлэн гоймон',","'Тэйсти гоймон 110 гр',","'1800',","'7',","'0.03',","'12222',"

In [9]:
df.dropna(axis = 1)

             Order ID         Segment    Price Quantity Discount     Sales
0   'CA-2016-152156',      Хувь хүн',  '3300',     '2',     '0',   '6600',
1   'CA-2016-152156',     'Хувь хүн',   '500',     '3',     '0',   '1500',
2   'CA-2016-138688',  'Байгууллага',  '3100',     '2',     '0',   '6200',
3   'US-2015-108966',     'Хувь хүн',  '2800',     '5',     '0',  '14000',
4   'US-2015-108966',     'Хувь хүн',  '1150',     '2',     '0',   '2300',
..                ...             ...      ...      ...      ...       ...
95  'US-2017-109484',       'Гишүүн',  '3300',     '1',  '0.03',   '3201',
96  'CA-2017-161018',       'Гишүүн',  '2300',     '7',  '0.03',  '15617',
97  'CA-2017-157833',     'Хувь хүн',   '500',     '3',     '0',   '1500',
98  'CA-2016-149223',  'Байгууллага',  '2000',     '6',     '0',  '12000',
99  'CA-2016-158568',       'Гишүүн',  '1800',     '7',  '0.03',  '12222',

[100 rows x 6 columns]